<mt:setvar name="edit_button_value" value="<__trans phrase="Return to the compose screen">">
<mt:setvar name="edit_button_title" value="<__trans phrase="Return to the compose screen (e)">">

<mt:if name="object_type" eq="entry">
  <mt:if name="status" eq="2">
    <mt:setvar name="save_button_value" value="<__trans phrase="Publish this entry">">
    <mt:setvar name="save_button_title" value="<__trans phrase="Publish this entry (s)">">
  <mt:else>
    <mt:setvar name="save_button_value" value="<__trans phrase="Save this entry">">
    <mt:setvar name="save_button_title" value="<__trans phrase="Save this entry (s)">">
  </mt:if>
    <mt:setvar name="edit_button_value" value="<__trans phrase="Re-Edit this entry">">
    <mt:setvar name="edit_button_title" value="<__trans phrase="Re-Edit this entry (e)">">
<mt:else>
  <mt:if name="status" eq="2">
    <mt:setvar name="save_button_value" value="<__trans phrase="Publish this page">">
    <mt:setvar name="save_button_title" value="<__trans phrase="Publish this page (s)">">
  <mt:else>
    <mt:setvar name="save_button_value" value="<__trans phrase="Save this page">">
    <mt:setvar name="save_button_title" value="<__trans phrase="Save this page (s)">">
  </mt:if>
    <mt:setvar name="edit_button_value" value="<__trans phrase="Re-Edit this page">">
    <mt:setvar name="edit_button_title" value="<__trans phrase="Re-Edit this page (e)">">
</mt:if>

<!DOCTYPE html>
<html lang="<$mt:var name="language_tag"$>">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="<$mt:var name="language_encoding"$>" />
    <title><__trans phrase="Preview"> | <$mt:var name="mt_product_name"$></title>
    <link rel="icon" href="<$mt:var name="static_uri"$>images/favicon.ico" type="image/ico" />
<mt:if name="feed_url">
    <link type="application/atom+xml" rel="alternate" <mt:if name="feed_name">title="<mt:var name="feed_name" escape="html">" </mt:if>href="<mt:var name="feed_url" escape="html">" />
</mt:if>
<mt:unless name="optimize_ui">
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>styles.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>css/mt.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
<mt:else>
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>css/main.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>css/mt.min.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
</mt:unless>
    <!--[if IE]>
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>css/hacks/ie.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
    <![endif]-->
<mt:if name="local_lang_id" ne="en-us">
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>styles_<$mt:var name="local_lang_id"$>.css?v=<mt:var name="mt_version_id" escape="url">" />
</mt:if>
    <script type="text/javascript">
      /* <![CDATA[ */
      CMSScriptURI = '<$mt:var name="mt_url"$>';
      ScriptURI = '<$mt:var name="script_url"$>';
      ScriptBaseURI = '<$mt:var name="script_base_url"$>';
      StaticURI = '<$mt:var name="static_uri"$>';
      HelpBaseURI = '<$mt:var name="help_url"$>';
      /* ]]> */
    </script>
<mt:unless name="optimize_ui">
    <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery-migrate.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Core.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/JSON.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Timer.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Cookie.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/DOM.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Devel.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Observable.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Autolayout.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Component.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/List.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/App.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Cache.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Client.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Template.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/tc.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/tc/tableselect.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.validate.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.json.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>jqueryui/jquery-ui.js?v=<$mt:var name="mt_version_id" escape="url"$>"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>svg4everybody/svg4everybody.js?v=<$mt:var name="mt_version_id" escape="url"$>"></script>
<mt:else>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.min.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery-migrate.min.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/mt_core_compact.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.validate.min.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.json.min.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>jqueryui/jquery-ui.min.js?v=<$mt:var name="mt_version_id" escape="url"$>"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>svg4everybody/svg4everybody.min.js?v=<$mt:var name="mt_version_id" escape="url"$>"></script>
</mt:unless>
<mt:var name="html_head">
    <script type="text/javascript" src="<$mt:var name="static_uri"$>mt.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<mt:if name="local_lang_id" eq="en-us">
    <script type="text/javascript" src="<$mt:var name="static_uri"$>mt_en_us.js?v=<mt:var name="mt_version_id" escape="URL">" charset="utf-8"></script>
<mt:else>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>mt_<$mt:var name="local_lang_id"$>.js?v=<mt:var name="mt_version_id" escape="URL">" charset="utf-8"></script>
</mt:if>
<mt:unless name="optimize_ui">
    <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.mt.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
<mt:else>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.mt.min.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
</mt:unless>
<mt:var name="js_include">

<style>
.mt-navbar-arrow {
    background: #fff;
    height: 40px;
    position: absolute;
    display: inline-block;
}
.mt-navbar-arrow:before {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    content: "";
    height: 60px;
    position: absolute;
    top: -10px;
    width: 0;
    border-left: 15px solid #fff;
    left: 0;
    box-sizing: border-box;
}
.mt-navbar-arrow:after {
    border-left: 15px solid #343a40;
    left: -2px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    content: "";
    height: 60px;
    position: absolute;
    top: -10px;
    width: 0;
    box-sizing: border-box;
}

</style>
  </head>
  <body class="<mt:if name="scope_type" eq="user">user system <mt:else><mt:var name="scope_type"> </mt:if>main-screen preview-screen">

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a>
          <span>
            <img src="<$mt:var name="static_uri"$>images/logo-mark-mono.svg" alt="Movable Type" width="32" height="32" class="first-child">
          </span>
        </a>
      </div>

      <ul class="nav navbar-nav">
        <li id="current-site" class="scope">
          <!-- <b class="mt-navbar-arrow"></b> -->
          <a class="reset" href="<mt:var name="script_url">?__mode=shared_preview&spid=<mt:var name="spid">"><span class="current-site-name"><__trans phrase="Preview">: <mt:var name="site_name"> </span></a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li>
          <a class="btn btn-link" id="edit" data-toggle="tooltip" data-placement="bottom" title="<__trans phrase="Move to edit screen">" >
              <svg title="Edit" class="mt-icon--inverse mt-icon" >
                <use xlink:href="<$mt:var name="static_uri"$>images/sprite.svg#ic_edit">
              </svg>
          </a>
        </li>
        <li>
          <a class="btn btn-link" id="shared-preview-url" data-toggle="tooltip" data-placement="bottom" title="<__trans phrase="Show shared preview link.">" >
              <svg title="Preview" class="mt-icon--inverse mt-icon">
                <use xlink:href="<$mt:var name="static_uri"$>images/sprite.svg#ic_preview">
              </svg>
          </a>
        </li>
        <li>
          <a class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="<__trans phrase="Show public links on this page.">" >
              <svg title="Permalink" class="mt-icon--inverse mt-icon">
                <use xlink:href="<$mt:var name="static_uri"$>images/sprite.svg#ic_permalink">
              </svg>
          </a>
        </li>
      </ul>
    </div>
    </nav>
    <form method="post" action="<$mt:var name="back_edit"$>" mt:once="1">
        <input type="hidden" name="__mode" value="edit_<$mt:var name="object_type"$>" />
        <input type="hidden" name="magic_token" value="<$mt:var name="magic_token"$>" />

        <input type="hidden" name="dirty" value="1" />
<mt:loop name="inputs">
        <input type="hidden" name="<$mt:var name="data_name" escape="html"$>" value="<$mt:var name="data_value" escape="html"$>" />
</mt:loop>
    </form>

    <table id="entry-preview-layout" class="preview-layout">
    <tr>
      <td id="entry-preview-content" class="preview-content">
        <iframe id="frame" frameborder="0" scrolling="auto" srcdoc='<$mt:var name="preview_content"$>' onclick="return TC.stopEvent(event);"></iframe>
      </td>
    </tr>
    </table>

    <div id="bootstrapper" class="hidden"></div>

    <script type="text/javascript">
      /* <![CDATA[ */
      svg4everybody();

    <mt:unless name="delayed_bootstrap">
      App.bootstrapInline( false );
    </mt:unless>
      jQuery(function() {
        if (typeof document.body.style.maxHeight == "undefined") {
          jQuery('#brand span').pngfix();
        }
      });
      jQuery('#frame').load( function() {
        jQuery(this).height( jQuery(window).height() - jQuery('#entry-preview-control-strip').height() );
      });
      jQuery(window).resize( function() {
        jQuery('#frame').height( jQuery(window).height() - jQuery('#entry-preview-control-strip').height() );
      });

      jQuery('#edit').on('click', function () {
        jQuery('form').submit();
        return false;
      });

      /* ]]> */
    </script>
  </body>
</html>
