<mtapp:widget
  id="shared-preview-widget"
  class=""
  label="<__trans phrase="Shared Preview">">
  <div>
    <a href="<mt:var name="href">" class="btn btn-default w-100 text-dark" role="button"><__trans phrase="Open the shared preview"></a>
  </div>
</mtapp:widget>